#index-body {
  font-family: "Slabo 27px";
  padding: 0;
  background-image: url(../img/pattern.jpg);
}
header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  left: 0;
  background-color: white;
}
nav {
  float: right;
  padding: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  width: 60px;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  display: block;
}
nav ul li a:hover {
  text-decoration: underline;
}
section {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 90px;
  padding: 16px;
  margin-bottom: 60px;
  background-color: white;
}
.title {
  margin-top: 16px;
  text-align: center;
}
.form-label {
  position: absolute;
  font-weight: bold;
  bottom: 0;
}

#article-list > div {
  margin-top: 60px;
}

#article-list a {
  text-decoration: none;
}
td {
  min-width: 160px;
  position: relative;
  margin: 0px;
  padding: 8px 0px;
}
textarea {
  width: 360px;
  height: 100px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-bottom: 20px;
  background-color: black;
  color: whitesmoke;
  text-align: center;
}
