@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@900&display=swap");
body {
  background-color: hsl(0, 0%, 96%);
  font-family: "Open Sans", sans-serif;
}

#tugas-9-header {
  color: hsl(0, 0%, 80%);
  margin-bottom: 16px;
  font-weight: 400;
}

hr {
  border: 1px solid hsl(0, 0%, 60%);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.clock {
  font-weight: 900;
  width: 500px;
  padding: 20px;
  margin: auto;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

.clock * {
  margin: 10px 0px;
}

.clock h1 {
  font-size: 48px;
}

.container {
  width: 500px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 1px 1px 16px hsl(0, 0%, 90%);
}

.container-checkbox {
  margin: 16px 0px;
}

.container-checkbox input,
label {
  margin: 10px 0px;
  vertical-align: middle;
}

.container-checkbox label {
  margin-left: 10px;
}

.container-checkbox hr {
  margin-top: 16px;
  border-color: hsl(0, 0%, 90%);
}

.checkbox-submit {
  border: none;
  background-color: hsl(198, 75%, 51%);
  color: white;
  width: 100%;
  padding: 26px;
  font-size: medium;
}

.checkbox-submit:active {
  background-color: red;
}

/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 4px;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: hsl(198, 75%, 51%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:hover {
  background-color: hsl(0, 0%, 90%);
}
/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
