.table-container,
.filter-container {
  background-color: hsl(0, 0%, 100%);
  padding: 12px;
  padding-top: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container form .ant-form-item {
  overflow: visible;
}

.item-add-btn {
  float: right;
  margin-bottom: 6px;
}

@media screen and (min-width: 992px) {
  .table-container,
  .filter-container {
    width: 80%;
    padding: 24px;
  }
}

@media screen and (max-width: 992px) {
  .item-title-search {
    margin-left: 10px;
    margin-bottom: 6px;
  }
}
