body {
  background-color: hsl(0, 0%, 98%);
}

.tugas11 {
  width: 800px;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

form {
  border: 1px solid;
  padding: 16px;
  padding-bottom: 40px;
}

form input {
  float: right;
  display: block;
}

form label {
  font-weight: bold;
}
table {
  border-collapse: collapse;
}
table th {
  text-align: left;
}
table td,
th {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  width: 170px;
  padding: 16px;
}

table .no {
  width: fit-content;
}

table button {
  margin: 0px 2px;
}
