.auth {
  background-color: hsl(0, 0%, 100%);
  max-width: 1080px;
  margin: auto;
  width: 80%;
  padding: 40px 20px;
}

@media screen and (min-width: 576px) {
  .auth {
    width: 50%;
    padding: 40px;
  }
}
