@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

#header {
  width: 100%;
  z-index: 30;
  position: fixed;
}

#main {
  min-height: 87vh;
  margin-top: 64px;
}

.content {
  background-color: hsl(0, 0%, 100%);
  margin: 20px auto;
  border-radius: 4px;
}

#footer {
  background-color: #141414;
}

#footer * {
  text-align: center;
  margin-left: 80px;
  color: #fff;
}

.logo-button {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  width: 110px;
  height: 100%;
}

.logo-button:hover {
  cursor: pointer;
}

#navbar-menu {
  position: absolute;
  right: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0;
    width: 100%;
    padding: 8px;
  }
}

@media screen and (max-width: 576px) {
  #navbar-menu {
    right: 50px;
  }
  #main {
    padding: 0px;
  }
  #header {
    padding: 0 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px hsl(0, 0%, 80%);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 70%);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 50%);
}
