.item-card-container {
  padding: 16px;
  width: 25%;
  display: inline-block;
}
.item-card img {
  height: 42vh;
  object-fit: cover;
}
.item-col {
  padding: 24px;
}
.content-home {
  position: relative;
  max-width: 1600px;
  padding: 16px;
}

.content-home h2 {
  display: inline-flex;
}

.page-nav-btn {
  float: right;
}

@media screen and (max-width: 1200px) {
  .item-card-container {
    padding: 16px;
    width: 33%;
  }
}

@media screen and (max-width: 800px) {
  .item-card-container {
    padding: 16px;
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .item-col {
    padding: 0;
  }
  .item-card-container {
    padding: 8px 0;
    width: 100%;
    display: inline-block;
  }
}

@media screen and (min-width: 576px) {
  .content-home .section-header {
    padding: 0 8px;
  }
}

@media screen and (min-width: 768px) {
  .content-home {
    width: 90%;
    padding: 24px;
  }
}
