nav {
  margin: auto;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  width: fit-content;
  display: inline-block;
}
nav a {
  text-decoration: none;
  display: block;
  padding: 20px;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
}
nav a:hover {
  background-color: hsl(0, 0%, 90%);
}
nav hr {
  margin: 0;
  border: 1px solid hsl(0, 0%, 70%);
}
nav.dark {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 98%);
}
nav.dark a {
  color: hsl(0, 0%, 90%);
}
.button-center {
  text-align: center;
}
#theme-button {
  margin-top: 20px;
  padding: 20px;
}
nav.dark a:hover {
  background-color: hsl(0, 0%, 30%);
}
