.details-img {
  width: 100%;
  min-height: 25vh;
  max-height: 75vh;
  border-radius: 4px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .content-details {
    width: 70%;
    padding: 24px;
  }
}
